numpy
pillow
openai
loguru
pyyaml
datasets
qdrant_client
gradio
psutil==6.1.1
sglang_router
vllm
sglang[all]==0.4.3 --find-links https://flashinfer.ai/whl/cu128/torch2.5/flashinfer/
patch
torch
transformers==4.48.3
uvloop
matplotlib